<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title></title>
  </head>
  <body>

    <div class="head">
      <a th:href="@{/}"><div class="btback"><p>Back</p></div></a>
        <div class="logo"><p> </p>
        </div>
    </div>

    <center><br>
      <div class="alert alert-success">
    <h2>Foi APAGADO com imenso Sucesso <h2>
      </div>
  </body>
</html>
